*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    margin-top: 2%;
    font-size:45px;
    text-align: center;
}

.container > div{
    border: 1px solid black;
}

.first-box{
    background-color: blue;
    position: relative;
}

.second-box{
    background-color: red;
    position: relative;
}

.third-box{
    background-color: yellow;
    position: relative;
}

/**
Desktop
**/
@media (min-width:992px){
.first-box, .second-box, .third-box{
    width:32%;
    float: left;
    margin-right: 0.5%;
    margin-left: 0.5%;
}
}

/**
Tablet
**/
@media (min-width:768px) and (max-width:991px){
    .first-box, .second-box{
        width: 45%;
        margin: 2%;
        float: left;
    }

    .third-box{
        width: 94%;
        clear: both;
        margin: 2%;
    }
}

/**
Mobile
**/
@media (max-width:767px){

    .first-box, .second-box, .third-box{
    width: 100%;
    margin: 2%;
    }
}

.first-box-menu{
background-color: pink;
}

.secod-box-menu{
    background-color: orange;
}

.third-box-menu{
    background-color: salmon;
}

.container > div > div{
 width: 80px;   
 border: 1px solid black;
 float: right;
 text-align: center;
 top: 0px;
 right: 0px;
}

p {
    clear: right;
    margin: 10px;
}